.card {
  width: 18rem;
}

.isOn {
  background-color: rgba(lightgreen, 0.4);
  color: darkgreen;
  text-decoration: underline;
}

.isOff {
  background-color: rgba(rgb(201, 31, 25), 0.4);
  color: rgb(100, 20, 0);
  text-decoration: line-through;
}
