.card {
  width: 18rem;
}

.isOn {
  background-color: rgb(152, 238, 118);
  /* color: green;
  text-decoration: underline; */
}

.isOff {
  background-color: rgb(221, 122, 122);
  /*  color: red;
  text-decoration: line-through; */
}
